html, body {
    position: relative;
    min-height: 100%;
    background-color: #030303;
}

.navbar {
    border-bottom: 1px solid #343536;

    .navbar-brand {
        font-family: 'Megrim', sans-serif;
    }
}

.card {
    border-radius: 0.25rem;
    border: 1px solid #343536;
    color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    background-color: $gray-800;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
    background-color: $gray-800;
    border-radius: 0.25rem;
    border: 1px solid #343536;

    .dropdown-item {
        color: rgba(255, 255, 255, 0.5) !important;

        &:hover, &:focus {
            background-color: $gray-800;
            text-decoration: underline;
        }
    }
}

.login {
    .login-bg {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border: 1px solid #343536;
        background: url("../images/register-bg.jpg") center center no-repeat;
        background-size: cover;
        filter: grayscale(75%);
    }

    .card {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
}

.dashboard {
    .card {
        height: 100%;
    }
}
